In [11]:
import numpy as np

a = np.array([2,3,4])
print(a)

[2 3 4]

In [12]:
c =  np.array([2,3,4,5,6,2]).reshape(2,3)
print(c)

[[2 3 4]
 [5 6 2]]

In [13]:
d  = np.array([2,3,4,5,6,2,3,5]).reshape(2,2,2)
print(d)

[[[2 3]
  [4 5]]

 [[6 2]
  [3 5]]]

In [18]:
e = np.array([1,2,3,4,5,6])
print(e.sum())
print(e.min())
print(e.max())
print(e.mean())

21
1
6
3.5

In [24]:
np.zeros(5) #creates a matrix full of zero

array([0., 0., 0., 0., 0.])

In [20]:
np.linspace(0,6,10) # creates anb arary of values from 0 through 6 in  
                    # 10 even s paces

array([0.        , 0.66666667, 1.33333333, 2.        , 2.66666667,
       3.33333333, 4.        , 4.66666667, 5.33333333, 6.        ])

In [21]:
np.random.rand(3) # 2 random values between 0 and 1

array([0.71502254, 0.14318971, 0.106336  ])

In [25]:
np.random.randint(1,10000) # returns a random int value between 1 
                           # and 1000

3814

In [26]:
np.arange(25) # like the "Range" function we learned earlier, this is
              # gives you a range of integers between  1 - 25

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

## Pandas

In [27]:
import pandas as pd

In [28]:
series_test = [1,2,3,6,7]
print(pd.Series(series_test))

0    1
1    2
2    3
3    6
4    7
dtype: int64